
build-codeball-Desktop_Qt_5_11_3_MinGW_32bit-Debug/Makefile.Release
build-codeball-Desktop_Qt_5_11_3_MinGW_32bit-Debug/Makefile.Debug
build-codeball-Desktop_Qt_5_11_3_MinGW_32bit-Debug/Makefile
build-codeball-Desktop_Qt_5_11_3_MinGW_32bit-Debug/debug/Strategy.o
build-codeball-Desktop_Qt_5_11_3_MinGW_32bit-Debug/debug/SimpleSocket.o
build-codeball-Desktop_Qt_5_11_3_MinGW_32bit-Debug/debug/Runner.o
build-codeball-Desktop_Qt_5_11_3_MinGW_32bit-Debug/debug/RemoteProcessClient.o
build-codeball-Desktop_Qt_5_11_3_MinGW_32bit-Debug/debug/PassiveSocket.o
build-codeball-Desktop_Qt_5_11_3_MinGW_32bit-Debug/debug/MyStrategy.o
build-codeball-Desktop_Qt_5_11_3_MinGW_32bit-Debug/debug/HTTPActiveSocket.o
build-codeball-Desktop_Qt_5_11_3_MinGW_32bit-Debug/debug/codeball.exe
build-codeball-Desktop_Qt_5_11_3_MinGW_32bit-Debug/debug/ActiveSocket.o
build-codeball-Desktop_Qt_5_11_3_MinGW_32bit-Debug/.qmake.stash
codeball/codeball.pro.user.72f0080
*.user
*.user
codeball/codeball.pro.user
codeball/codeball.pro.user
codeball2018-windows.zip
*.zip
*.filters
*.sln
*.vcxproj
*.bat
*.user
*.user
codeball/codeball.pro.user
