
*.Debug
*.Release
*.o
*.stash
build-codeball-Desktop_Qt_5_11_2_MinGW_32bit-Debug/Makefile
*.user
compile-g++17.bat
compile-vscpp.bat
cpp-cgdk.sln
cpp-cgdk.vcxproj
cpp-cgdk.vcxproj.filters
cpp-cgdk.zip
